:root{
    --background-main-footer: #2F303A;
    --logo: #2196F3;
    --focus-hover: #2196F3;
    --basic-text-color:#212121;
    --text-grey: #757575;
    --text-white: #FFF;
    --background-color-team: #F5F4FA;
    --background-color-box: #F5F4FA;
    --icon-fill: #AFB1B8;
}
body {
    font-family: 'Roboto', sans-serif;
    color:var(--basic-text-color);
    height: 100%;
  }
.container{
    max-width: 1200px;
    margin: 0 auto;
}
.section{
    padding: 94px 15px;
}
img { 
    display: block;
}
.headline{
    border-bottom: 1px solid #ECECEC;
}
.logo{
    margin-right: 93px;
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #000;
}
.logo-color{
    color: var(--logo);
}
.header{
    display: flex;
    align-items: center;
    padding: 24px 15px;
}
/* nav */
.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
    padding: 0;
}
.menu-list{
    display: flex;
    gap: 46px;
    list-style: none;
    padding: 0;
    margin: 0;
}
.menu-link{
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--basic-text-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-link:focus,
.menu-link:hover{
    color: var(--focus-hover);
}
.active-link{
    position: relative;
    color: var(--focus-hover);
}
.active-link::after{
    content: "";
    display: block;
    position: absolute;
    margin-top: 28px;
    right: 0;
    left: 0;
    height: 4px;
    border-radius: 2px;
    background-color: var(--focus-hover);
    pointer-events: none;
}
.contact-list{
    display: flex;
    gap: 30px;
    list-style: none;
    padding: 0;
    margin: 0;
}
.contact-link{
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--text-grey);
    fill: var(--text-grey);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}
.contact-link:hover,
.contact-link:focus{
    color: var(--focus-hover);
    fill: var(--focus-hover);
}
/* index */
.background-main{
    background-color: var(--background-main-footer);
}
.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 200px 0;
    background: linear-gradient(rgba(47, 48, 58, 0.4),rgba(47, 48, 58, 0.4)), url(../images/img-main.jpg);
    max-width: 1600px;
    margin: 0 auto;
}
h1{
    color: var(--text-white);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    max-width: 696px;
    margin: 0;
}
.main-button{
    background-color: #2196F3;
    color: var(--text-white);
    cursor: pointer;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    text-align: center;
    letter-spacing: 0.06em;
    border-radius: 4px;
    border-style: none;
    padding:10px 42px 10px 41px;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.main-button:hover,
.main-button:focus{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
/* our-strengths div */
.strengths-list{
    display: flex;
    justify-content: space-between;
    gap: 30px;
    list-style: none;
    padding: 0;
    margin: 0;
}
.strengths-list .box{
    display: flex;
    justify-content: center;
    padding: 25px 0;
    background-color: var(--background-color-box);
}
.strengths-list h2{
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin: 30px 0 10px 0;
}
.strengths-list p{
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
    color: var(--text-grey);
    margin: 0;
}
/* our job section */
.our-job{
    padding-top: 94px;
}
.our-job h2{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    margin: 0 0 50px;
}
.our-job-list{
    display: flex;
    justify-content: space-between;
    gap: 30px;
    list-style: none;
    padding: 0;
    margin: 0;
}
.our-job-list li{
    position: relative;
}
.our-job-list p{
    position: absolute;
    bottom:0;
    right: 0;
    left:0;
    font-weight: 700;
    font-size: 14px;
    line-height: 0.875;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFF;
    background-color: rgba(47, 48, 58, 0.8);
    margin:0;
    padding: 28px 0;
}
/* team section */
.team-background-color{
    background-color: var(--background-color-team);
}
.team h2{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    margin: 0 0 50px;
}
.team-list{
    display: flex;
    justify-content: space-between;
    gap: 30px;
    list-style: none;
    padding: 0;
    margin: 0;
}
.team-list figure{
    margin: 0;
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}
.team-list figcaption{
    padding: 30px 0;
}
.team-list h3{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.1875;
    text-align: center;
    letter-spacing: 0.03em;
    margin:0 0 10px 0;
}
.team-list p{
    font-size: 16px;
    line-height: 1.1875;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--text-grey);
    margin: 0;
}
.team-icons-list{
    list-style: none;
    padding: 0;
    margin: 16px 0 0;
    display: flex;
    justify-content: center;
    gap: 10px;
}
.team-icon{
    display: block;
    width: 44px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    fill: var(--icon-fill);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-icon:hover,
.team-icon:focus{
    background-color: var(--focus-hover);
    fill: var(--text-white);
}
/*client section*/
.client h2{
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    margin: 0 0 50px;
}
.client-list{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
}
.client-icon{
    display: block;
    width: 170px;
    height: 92px;
    display: flex;
    justify-content: center;
    align-items: center;
    fill: var(--icon-fill);
    border: 1px solid var(--icon-fill);
    border-radius: 4px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.client-icon:hover,
.client-icon:focus{
    fill: var(--focus-hover);
    border-color: var(--focus-hover);
}
/* PORTFOLIO */
.filter{
    padding-bottom: 50px;
}
.filter-list{
    display: flex;
    justify-content: center;
    gap: 8px;
    list-style: none;
    padding: 0;
    margin: 0;
}
.filter-list button{
    color: var(--basic-text-color);
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.625;
    text-align: center;
    letter-spacing: 0.03em;
    background-color: #F5F4FA;
    border-radius: 4px;
    border-style: none;
    padding: 6px 22px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.filter-list button:hover,
.filter-list button:focus{
    background-color: var(--focus-hover);
    color: var(--text-white);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.product-list{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    list-style: none;
    margin: 0;
    padding: 0;
}
.product-list li{
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.product-list li:hover,
.product-list li:focus{
    cursor: pointer;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.product-list figure{
    margin: 0;
}
.product-list figcaption{
    padding: 20px 23px 19px;
    border-left:1px solid #EEEEEE;
    border-bottom:1px solid #EEEEEE;
    border-right:1px solid #EEEEEE;
}
.product-list h2{
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    margin: 0 0 4px;
}
.product-list p{
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.03em;
    color: var(--text-grey);
    margin: 0;
}
.description-box{
    position: relative;
    overflow: hidden;
}
.description-overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 49px 24px;
    background-color: rgba(33, 150, 243, 0.9);
    transform: translateY(101%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.product-list li:hover .description-overlay{
    transform: translatey(0);
}
.description-overlay p{
    font-size: 18px;
    line-height: 1.555;
    letter-spacing: 0.03em;
    color: var(--text-white);
    margin: 0;
}
/* footer section */
.background-footer{
    background-color: var(--background-main-footer);
}
.div-footer{
    padding: 60px 15px;
    display: flex;
    justify-content: flex-start;
    gap: 70px;
}
.logo-footer{
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #FFF;
}
.address{
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--text-white);
}
.address p{
    margin: 20px 0 9px;
}
.address-list{
    list-style: none;
    padding: 0;
    margin: 0;
}
.address-link{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address-link:focus,
.address-link:hover{
    color: var(--focus-hover);
}
.footer-second-box h2{
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--text-white);
    margin: 12px 0 20px;
}
.footer-second-box ul{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: flex-start;
    gap: 10px;
}
.second-box-icon{
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    fill: #FFF;
    background-color: rgba(255, 255, 255, 0.1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.second-box-icon:hover,
.second-box-icon:focus{
    background-color: var(--focus-hover);
}
/*formularz*/
.backdrop{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.2);
    opacity: 1;
    animation: opacityopen 250ms cubic-bezier(0.4, 0, 0.2, 1) forwards;
}
.is-hidden{
    visibility: hidden;
    pointer-events: none;
    opacity: 0;
    animation: opacityclose 250ms cubic-bezier(0.4, 0, 0.2, 1) forwards;
}
.modal{
    z-index: 2;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 528px;
    height: 581px;
    background-color: #FFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}
.modal-button-close{
    position: absolute;
    top: 8px;
    right: 8px;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    fill: #000;
    background-color: #FFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-button-close:hover,
.modal-button-close:focus{
    background-color: var(--focus-hover);
    fill: #FFF;
}
@keyframes opacityopen {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@keyframes opacityclose {
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}